container_commands:
  01changePHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/America\/Canada\/Toronto/' /etc/php.d/environment.ini
  01achangePHP:
    command: sed -i '/aws.php_date_timezone/ s/UTC/America\/Canada\/Toronto/' /etc/php.d/environment.ini
  02change_AWS_PHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/America\/Canada\/Toronto/' /etc/httpd/conf.d/aws_env.conf
  03php_ini_set:
    command: sed -i '/date.timezone/ s/UTC/America\/Canada\/Toronto/' /etc/php.ini
commands:
  01remove_local:
    command: "rm -rf /etc/localtime"
  02link_Toronto:
    command: "ln -s /usr/share/zoneinfo/America/Canada/Toronto /etc/localtime"
  03restart_http:
    command: sudo service httpd restart